<div class="header text-center">
  <%= form_with url: posts_path, method: :get do |f| %>
  <%= f.text_field :word %>
  <%= f.collection_select :tag_id, Tag.all, :id, :name, include_blank: "タグを選択してください" %>
  <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
   <div class="row col-3">
    <div class="col ms-5 mt-5 text-center">
      <h2 class="border rounded border-dark">投稿一覧</h2>
    </div>
  </div>

  <% @posts.each do |post| %>
  <div class="row justify-content-center">
    <div class="border border-dark col-8 mt-5">
      <div class="row col-6">
        <%= link_to post.user.name, user_path(post.user.id), class: "text-dark" %>さんの投稿
      </div>
      <div class="row col-6">
        タイトル:　<%= post.title %>
      </div>
      <div class="row col">
        本文:　<%= post.text %>
      </div>
      <div class="row col">
        <% if post.tag.present? %>
          タグ:　<%= post.tag.name %>
        <% else %>
          タグ付けはされていません
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="row mt-5 col justify-content-end">
          <% if post.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorites_path(post), method: :delete, class: "btn btn-danger" do %>
              ♥<%= post.favorites.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to post_favorites_path(post), method: :post, class: "btn btn-outline-danger" do %>
              ♡<%= post.favorites.count %> いいね
            <% end %>
          </p>
          <% end %>
        </div>
      <% end %>
      <div class="row mt-5 col justify-content-end">
        <p>
          <%= link_to post_path(post) do %>
            コメント件数:　<%= post.post_comments.count %>件
          <% end %>
        </p>
      </div>
      <div class="row justify-content-center my-3">
        <%= link_to "投稿詳細", post_path(post.id), class: "btn btn-outline-primary btn-lg" %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row justify-content-center mt-5 mb-5">
    <%= paginate @posts %>
  </div>
</div>