<div class="container">
   <div class="row col-6">
    <div class="col ms-5 mt-5 text-center">
      <h2 class="border rounded border-dark"><%= @post.user.name %>さんの投稿詳細</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2">
      <label>タイトル</label>
    </div>
    <div class="col-4">
      <%= @post.title %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2">
      <label>本文</label>
    </div>
    <div class="col-4">
      <%= @post.text %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2">
      <label>タグ</label>
    </div>
    <div class="col-2 text-center">
      <% if @post.tag.present? %>
        <%= @post.tag.name %>
      <% else %>
        タグ付けはされていません
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-11 text-center">
      <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete, class: "btn btn-danger" do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post, class: "btn btn-outline-danger" do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% end %>
    </div>
  </div>
  <div class="row mt-5 col">
    <p>コメント件数:　<%= @post.post_comments.count %>件</p>
      <% @post.post_comments.each do |post_comment| %>
        <%= post_comment.user.name %>さん
        <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
      <% end %>
  </div>
  <div class="row mt-5 col-6 justify-content-center">
    <%= form_with model: [@post, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', cols: '70', placeholder: "コメントを入力してください" %><br>
      <%= f.submit "送信する", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <% if @post.user == current_user or current_admin %>
        <%= link_to "編集する", edit_post_path, class: "btn btn-success btn-lg col-4" %>
      <% end %>
    </div>
    <div class="col-5">
      <%= link_to "投稿一覧へ戻る", posts_path, class: "btn btn-primary btn-lg col-5" %>
    </div>
  </div>
</div>