<div class="container">
   <div class="row d-flex justify-content-center">
      <div class="col-4 ms-5 mt-5 text-center">
        <h2 class="border rounded border-info text-info">ユーザー情報編集</h2>
      </div>
    </div>
    <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-3 text-center">
        <p>ユーザーID</p>
      </div>
      <div class="col-4 text-center">
        <p><%= @user.id %></p>
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-3 text-center">
        <p>ユーザー名</p>
      </div>
      <div class="col-4 text-center">
        <p><%= f.text_field :name, class: "form-control" %></p>
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-3 text-center">
        <p>紹介文</p>
      </div>
      <div class="col-4 text-center">
        <p><%= f.text_area :introduce, class: "form-control" %></p>
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-3 text-center">
        <p>有効/退会</p>
      </div>
      <div class="col-4 text-center">
        <p>
          <%= f.radio_button :is_deleted, :false %>
          <span class="text-success"><%= f.label :is_deleted, "有効" %></span>
          <%= f.radio_button :is_deleted, :true %>
          <span class="text-danger"><%= f.label :is_deleted, "退会" %></span>
        </p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col mb-5 d-flex justify-content-center">
        <%= f.submit "変更を保存する", class: "btn btn-success btn-lg col-2" %>
      </div>
    </div>
    <% end %>
  </div>