<div class="container">
  <div class="row col-3">
    <div class="col ms-5 mt-5 text-center">
      <h2 class="border rounded border-info text-info">ログイン</h2>
    </div>
  </div>

  <%= form_with model: @user, url: new_user_session_path do |f| %>
  <div class="row mt-5">
    <div class="col-2">
      <label class="col-form-label">メールアドレス</label>
    </div>
    <div class="col-sm-4">
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2">
      <label class="col-form-label">パスワード</label>
    </div>
    <div class="col-sm-4">
      <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "current-password" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-success btn-lg col-6 mt-5" %>
  </div>
  <% end %>

  <div class="mt-5 row">
    <h5 class="col-6">→　<span class="text-danger">新規登録がまだの方</span>は
      <%= link_to "こちら", new_user_registration_path %>
      から新規登録
    </h5>
  </div>

</div>
