<!DOCTYPE html>
<html>
  <head>
    <title>CleaningInLife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ec197d3cc7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <% if user_signed_in? %>
          <div style="align-items: center; display: flex; justify-content: center;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <%= link_to root_path, class: "btn btn-outline-success mb-5" do %>
                  <i class="fa-solid fa-broom fa-shake fa-3x"></i>
                <% end %>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <%= link_to "マイページ", user_path(current_user.id), class: "nav-link active text-info" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "投稿する", new_post_path, class: "nav-link active text-success" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "投稿一覧", posts_path, class: "nav-link active text-info" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link active text-success" %>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        <% elsif admin_signed_in? %>
          <div style="align-items: center; display: flex; justify-content: center;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <%= link_to root_path, class: "btn btn-outline-success mb-5" do %>
                  <i class="fa-solid fa-broom fa-shake fa-3x"></i>
                <% end %>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link active text-info" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "タグ一覧", admin_tags_path, class: "nav-link active text-success" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "投稿一覧", posts_path, class: "nav-link active text-info" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link active text-success" %>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        <% else %>
          <div style="align-items: center; display: flex; justify-content: center;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <%= link_to root_path, class: "mt-3 mb-5 text-success" do %>
                  <i class="fa-solid fa-broom fa-shake fa-2x"></i>
                <% end %>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <%= link_to "新規登録", new_user_registration_path, class: "nav-link active text-info" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログイン", new_user_session_path, class: "nav-link active text-success" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "投稿一覧", posts_path, class: "nav-link active text-info" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "管理者ログイン", new_admin_session_path, class: "nav-link active text-success" %>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="container-fluid">
        <div class="row mt-5">
          <div class="col text-white" style="background-color: black; height: 70px; display: flex; align-items: center; justify-content: center;">
            <h5>Cleaning In Life</h5>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
